.custom-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.custom-badge {
    &.success {
        background: #C8E6C9;
        color: #256029;
    }
    &.danger {
        background: #FFCDD2;
        color: #C63737;
    }
    &.in-progress {
        background: #FEEDAF;
        color: #8A5340;
    }
    &.new {
        background: #B3E5FC;
        color: #23547B;
    }
    &.renewal {
        background: #ECCFFF;
        color: #694382;
    }
    &.proposal {
        background: #FFD8B2;
        color: #805B36;
    }
}

.product-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    &.status-instock {
        background: #C8E6C9;
        color: #256029;
    }
    &.status-outofstock {
        background: #FFCDD2;
        color: #C63737;
    }
    &.status-lowstock {
        background: #FEEDAF;
        color: #8A5340;
    }
}

.order-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    &.order-delivered {
        background: #C8E6C9;
        color: #256029;
    }
    &.order-cancelled {
        background: #FFCDD2;
        color: #C63737;
    }
    &.order-pending {
        background: #FEEDAF;
        color: #8A5340;
    }
    &.order-returned {
        background: #ECCFFF;
        color: #694382;
    }
}