.table-demo {
    .p-datatable-frozen-tbody {
        font-weight: bold;
    }
    .p-datatable-scrollable {
        .p-frozen-column {
            font-weight: bold;
        }
    }
    .image-text {
        vertical-align: middle;
        margin-left: .5rem;
    }
}

.avatar {
    background-size: cover;
    background-color: white;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}