.button {
    width: 100%;
    height: 20px;
}

.gradient {
    background: linear-gradient(91.02deg, rgba(23, 33, 47, 0.96) 5.64%, rgba(23, 33, 47, 0.875) 72.78%, rgba(23, 33, 47, 0) 120.73%);
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: 700;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all 2s;
}

.gradient:hover {
    background: linear-gradient(91.02deg, rgba(255, 255, 255, 0.96) 5.64%, rgba(255, 255, 255, 0.875) 72.78%, rgba(255, 255, 255, 0) 120.73%);
    color: #000000;
}


/* .label-gradient {
    color: #FFFFFF;
    font-weight: 700;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s;
}

.label-gradient:hover {
    color: #000000;
} */