.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('https://www.xtrafondos.com/wallpapers/diseno-de-paisaje-del-espacio-5771.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25vw;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    padding: 0;
    margin: 0;
    border-radius: 18px;
}

.login-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    gap: 20px
}

.p-card-body,
.p-card-content {
    height: 100%;
    width: 100%;
}

.p-badge {
    background-color: rgba(255, 255, 255, 0.96);
    color: #000000;
}

.p-divider .p-divider-content {
    background-color: rgba(255, 255, 255, 0);
}

@media (max-width: 1080px) {
    .login-card {
        width: 40vw;
        height: 60vh;
    }
}

@media (max-width: 650px) {
    .login-card {
        width: 80vw;
        height: 80vh;
    }
}

button span {
    width: 100%;
}