/* @import "~primereact/resources/themes/vela-blue/theme.css";
@import "~primereact/resources/primereact.min.css";
@import "~primeicons/primeicons.css";V */


.blur {
  filter: blur(5px);
}

.overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}


.spinner_overlay {
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 1000;
}
.p-datatable .p-datatable-header {
  border-radius: 12px 12px 0 0;
}

.p-datatable .p-paginator-bottom {
  border-radius: 0 0 12px 12px;
}

